.input {
    padding: 8px 16px;
    font-size: 1.25em;
    border: none;
    border-radius: 8px;
    background-color: #e3e3e3;
}

.container__buttons {
    margin-block: 12px;
    display: flex;
    justify-content: space-around;
}

ul {
    margin-top: 36px;
    text-align: left;
}